/* Global */
:root{
    /* Color */
    --color-gs1:#000000;
    --color-gs2:#424242;
    --color-gs3:#616161;
    --color-gs4:#757575;
    --color-gs5:#9e9e9e;
    --color-gs6:#bdbdbd;
    --color-gs7:#e0e0e0;
    --color-gs8:#eeeeee;
    --color-gs9:#f5f5f5;
    --color-gs10:#ffffff;
    --color-brand_default:#ff5c00;

    /* Font Size */
    --font-tit-2xs:12px;
    --font-tit-xs:14px;
    --font-tit-sm:16px;
    --font-tit-md:18px;
    --font-tit-lg:21px;
    --font-tit-xl:24px;
    --font-tit-2xl:36px;
    --font-tit-3xl:48px;
    --font-tit-4xl:60px;
    --font-tit-5xl:72px;

    --font-txt-2xs:10px;
    --font-txt-xs:12px;
    --font-txt-sm:14px;
    --font-txt-md:16px;
    --font-txt-lg:18px;
    --font-txt-xl:20px;
    --font-txt-2xl:22px;
    --font-txt-3xl:24px;
    --font-txt-4xl:26px;
    --font-txt-5xl:28px;

    /* Font Weight */
    --weight-light: 300;
    --weight-regular:400;
    --weight-medium:500;
    --weight-bold:700;

    /* Size */
}

/* Universal Tags */
*{
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
    color:var(--color-gs1)
}

ul {
    list-style: none;
    padding-left:0;
}

/* Typography */
h1 {
    font-size: var(--font-tit-4xl);
    font-weight: var(--weight-medium);
    color: var(--color-gs1)
    margin: 4px 0;
}

h2 {
    font-size: var(--font-tit-3xl);
    font-weight: var(--weight-bold);
    color: var(--color-gs2)
    margin: 4px 0;
}

h3 {
    font-size: var(--font-tit-xl);
    font-weight: var(--weight-bold);
    color: var(--color-gs1)
    margin: 8px 0;
}

p {
    font-size: var(--font-txt-md);
    font-weight: var(--weight-regular);
    color: var(--color-gs1)
    margin: 8px 0;
}

/* Navbar */
#navbar {
    display: flex;
    justify-content: space-between;
    background-color:var(--color-gs8);
    align-items: center;
}

.navbar__menu {
    display: -webkit-flex; /* Chrome */
}

.navbar__menu__item {
    padding: 8px 12px;
    margin: 0 4px;
}